<!-- /***
* REFERENCES
* Title: Cards
* Author: Bootstrap
* Date: November 16th (Last Accessed)
* Code version: v4.0
* URL: https://getbootstrap.com/docs/4.0/components/card/
* Software License: MIT
*
*
* Title: Jumbotron
* Author: Bootstrap
* Date: November 5th (Last Accessed)
* Code version: v4.0
* URL: https://getbootstrap.com/docs/4.0/components/jumbotron/
* Software License: MIT
*
*
* Title: ListGroup
* Author: Bootstrap
* Date: November 15th (Last Accessed)
* Code version: v4.0
* URL: https://getbootstrap.com/docs/4.0/components/list-group/
* Software License: MIT
*
*
* Title: Modal
* Author: Bootstrap
* Date: November 11th (Last Accessed)
* Code version: v4.0
* URL: https://getbootstrap.com/docs/4.0/components/modal/
* Software License: MIT
*
*
* Title: Alert
* Author: Bootstrap
* Date: November 23th (Last Accessed)
* Code version: v4.0
* URL: https://getbootstrap.com/docs/4.0/components/alerts/
* Software License: MIT
**/ -->
<html lang="en">

<head>
  {% include "VSB/modules/head.html" %}
  <title>Account</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'VSB/profile-topbar.css' %}">


</head>


<body class="d-flex flex-column h-100 bg-light">
  {% include "VSB/modules/profile-topbar.html" %}

  {% if alert %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert" style="text-align: center;">
    {{ alert }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}




  <div class="container-md outer" style="margin-top: 50px; margin-bottom: 70px; margin-left: 30px; margin-right: 30px;">

    <div class="border border-warning rounded-lg" style="padding: 30px;">
      <div class="row">
        <div class="col-4">
          <h2 style='padding-left: 30px;'>Pending Invites</h2>
        </div>
      </div>
      {% if invites %}
      <div class="list-group" style="margin-left: 30px;">
        {% for invite in invites %}

        <div class='list-group-item'>
          <p>{{invite}}</p>

          <!--Accept and Decline buttons-->
          <a style="margin-left: 10px;" class="btn btn-success"
            href="{% url 'VSB:accept_invite' invite.study_group.id%}">Accept</a>
          <a style="margin-left: 10px;" class="btn btn-danger"
            href="{% url 'VSB:decline_invite' invite.study_group.id%}">Decline</a>
        </div>

        {% endfor %}
      </div>
      {% else %}
      <p style='padding-left: 40px;'> You currently have no pending invites...</p>

      {% endif %}
    </div>



    {% if group_users %}
    <div style="padding-top: 30px">
      <div class="border border-primary rounded-lg">
        <div class="row" style="padding: 30px;">
          <div class="col-4">
            <h2>Your Groups</h2>
            <ul class="nav list-group">
              {% for guser in group_users %}
              <li>

                <a class="list-group-item list-group-item-action {% if forloop.first %} active {% endif %}"
                  data-toggle="tab" href="#group{{ guser.study_group.id }}"
                  aria-controls="group{{ guser.study_group.id }}">{{guser.get_groupname}}
                </a>

              </li>
              {% endfor %}
          </div>

          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              {% for guser in group_users %}
              <div class="tab-pane fade {% if forloop.first %} show active {% endif %}"
                id="group{{ guser.study_group.id }}" role="tabpanel">
                <div>
                  <h2 style="margin-top: 40px;">{{ guser.get_groupname }} info</h2>

                  <div class="row" style="padding-right: 30px;">
                    <div class="col-lg-4 mb-4">
                      <div class="card h-100">
                        <h4 class="card-header">Class</h4>
                        <div class="card-body">
                          <p class="card-text">{{guser.get_course}}</p>
                          {% if guser.get_groupme_link == "" or guser.get_groupme_link == None %}
                          <a class="btn btn-primary btn-sm" href="{% url 'VSB:groupme' guser.study_group.id %}"
                            target="_blank" rel="noopener">Create
                            GroupMe</a>
                          {%else%}
                          <a class="btn btn- btn-sm" href="{% url 'VSB:link' guser.study_group.id %}" target="_blank"
                            rel="noopener"><img
                              src="https://i.pinimg.com/originals/34/43/6f/34436f007b02e152e3e897314d112e57.jpg"
                              width="50" height="50"></a>

                          {%endif%}

                        </div>

                      </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                      <div class="card h-100">
                        <h4 class="card-header">Users</h4>
                        <div class="card-body">
                          {% for guser_member in guser.get_members %}
                          <p class="card-text">{{ guser_member }} </p>

                          <p>email: {{guser_member.get_user_emails}} </p>
                          <br>
                          {% endfor %}
                        </div>
                        <div class="card-footer">
                          <a class="btn btn-danger btn-sm"
                            href="{% url 'VSB:leave_group' guser.study_group.id %}">Leave</a>

                          <button type="button" data-target="#AddUser{{guser.study_group.id}}" data-toggle="modal"
                            class="btn btn-primary btn-sm"> Invite Users </button>

                          <div class="modal fade" id="AddUser{{guser.study_group.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">

                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Invite Users to a Study Group
                                  </h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">

                                  <form action="{% url 'VSB:send_invite' guser.study_group.id %}" method="POST"
                                    enctype="multipart/form-data" class="form-group">
                                    <input type="hidden" name="invite_form_type" value="invite">
                                    {% csrf_token %} {{ invite_form.as_p }}

                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%else%}
    <header class="jumbotron my-4">
      <h1 class="display-3">No groups... Try Matching!</h1>
      <a style="margin-top: 20px;" href="{% url 'VSB:account_matching' %}" class="btn btn-primary btn-lg">Get
        Matched</a>
    </header>
  </div>
  {%endif%}

  </div>

</body>

</html>